<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./imagens/logo/logo_sistema.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
    <title>FoodFlow's - Sistema de Gerenciamento</title>
</head>

<body>
    <div class="container">
        <div class="menu">
            <div class="logo">
                <img src="./imagens/logo/logo_sistema.jpg" alt="Logo do Restaurante">
            </div>
            <h1>FoodFlow's - Sistema de Gerenciamento</h1>
            <p>Gerencie seu restaurante, lanchonete ou bar de forma eficiente e organizada!</p>
            <a href="/login" style="background-color: #AF6913; border: none; color: white;" class="btn">Comece Agora este aqui!</a>
        </div>
    </div>
</body>

</html>
