<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Food Flow's</title>
    <link rel="stylesheet" href="../../resources/static/style.css">
</head>
<body>
    <header>
    </header>
    <div id="linha-horizontal"></div>
    <div class="container">
   
        <aside>
            <img src="../static/img/logo.png" alt="Logo Food Flow's" class="logoimg">
            <button>Pedidos</button>
            <button>Cadastro</button>
            <button>Pagamentos</button>
            <button>Conta</button>
            <button id="botaoSair">Sair</button>
        </aside> 

        <main>
            
        </main>
    </div>
</body>
</html>
