<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../imagens/logo/logo_restaurante.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login - FoodFlow</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="../imagens/logo/logo_restaurante.png" alt="Logo do Restaurante">
        </div>
        <h2>FoodFlow</h2>
        <form id="loginForm">
            <input type="text" id="username" name="username" placeholder="Usuário" required>
            <input type="password" id="password" name="password" placeholder="Senha" required>
            <button class="btn" type="button" onclick="login()">Entrar</button>
        </form>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>
